* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

h2 {
  color:brown;
}

p {
  color:brown;
  font-weight: bolder;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }

@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }

  .block {
    display: block;
    width: 50%;
    border: none;
    margin-top: 50%;
    margin-left: 25%;
    background-color:#1e465f ;
    padding: 14px 28px;
    font-size: 18px;
    font-style: italic;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    text-align: center;
}

footer {
    text-align: center;
    color:black; 
 }